---
layout: default
---

<div>
  <div class="layout layout--right">
    <article class="layout__main">
      <h1>{{site.name}}</h1>
      <p class="txt-intro">Welcome to my fantastic resume, prepare to be wowed. It's likely I sent you this link, because I want you to <a href="mailto:{{ site.email | encode_email }}" title="Contact me">Hire Me!</a></p>
      <h2>Introduction</h2>
      <p>I am a front end developer who landed in this vocation via a design path. I have been designing and building websites
        and applications since...well since we used
        <code>&lt;table&gt;</code> to hack together page structure. It's been an interesting journey so far.</p>
      <p>In addition to my design/development skills I am an accomplished photographer and video editor. I held the position
        of Art Director for a small software company, which involved managing a team of designers and video editors.</p>
    </article>
    <aside class="layout__side card">
      <img src="/assets/images/eric-baldoni.jpg" alt="Eric Baldoni">
      <ul class="contact-list">
        <li>Contact: <a href="mailto:{{ site.email | encode_email }}" title="Contact me">Contact me</a>
        </li>
        <li>Location: Currently residing in Vancouver WA (15 min north of Portland)</li>
      </ul>
    </aside>
  </div>
  <div class="layout layout--right">
      <article class="layout__main">
          <h2>Skills I bring to the table!</h2>
          <p>Web development is a never ending learning process. I am a perpetual learner who's fine tuned my hunter gather skills
            in my quest to make things work as efficiently as possible...or on occasion, just get it working depending on the
            deadline and budget. The percentage bar displays my self evaluated progress of these various skills.</p>
      </article>
      <aside class="layout__side">
   
              {% for section in site.data.skills %}
              <dl>
                  <dt>{{section.title}}</dt>
                  {% for skill in section.skills %}
                  <dd>{{skill.title}}
                    <div class="progress-bar">
                      <div class="progress-bar__track">
                        <div class="progress-bar__fill">
                          <span>{{skill.percent}}</span>
                        </div>
                      </div>
                    </div>
                  </dd>
                  {% endfor %}
              </dl>
              {% endfor %}
      </aside>
  </div>
  <h2>Where I use(d) these fine tuned skills</h2>
  <p>For the last 15 years or so I have been either freelancing or working with remote teams on more complex projects. Prior
    to this I worked for 5 years at a software/web marketing firm as a designer and then was promoted to Art Director.</p>
  <dl>
    <dt>Bitclone LLC:
      <i>2005-Current</i>
    </dt>
    <dd>A small agency founded by myself, focusing on Wordpress design and development.</dd>
    <dd>Post: Founder, Lead Designer/Developer</dd>
    <dd>Website:
      <a href="https://www.bitclone.co">https://www.bitclone.co</a>
    </dd>
  </dl>
  <dl>
    <dt>Flowerpress:
      <i>2009-Current</i>
    </dt>
    <dd>A Seattle based agency</dd>
    <dd>Post: Sr. User Interface Engineer</dd>
    <dd>Website:
      <a href="https://www.theflowerpress.net/studio">https://www.theflowerpress.net</a>
    </dd>
  </dl>

  {% comment %}
  <h1 class="page-heading">Stuff I Might Have Said!</h1>


  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe
    <a href="{{ " /feed.xml " | relative_url }}">via RSS</a>
  </p>
  {% endcomment %}
</div>
